<footer class="footer">
  <div class="container text-center">
    <p>&copy; 2023 Your Book Buying and Selling Website. All rights reserved.</p>
    <p>Designed with <span class="text-danger">&#10084;</span> by BookBazaar</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
